<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Register Page</title>
    <link rel="stylesheet" href="/public/css/main.css">
    <link href="https://fonts.googleapis.com/css?family=Poppins&display=swap" rel="stylesheet">
</head>
<body>
    
    <form class="box" action="login.html" method="post">
        <h1 class="logo" ><img src="/election-event-on-a-calendar-with-star-symbol.svg" ></h1>
        <h1 class="header">Event Coordinator</h1>
        <div class="container">
            <input type="text" name="" placeholder="Username">
            <input type="text" name="" placeholder="Email">
            <input type="password" name="" placeholder="Password">
            <p class="errorTag">*Error comes here</p>
            <div class="bottom">
                <p class="register" style="text-align: center"><a href="#">Have an account?</a></p>
                <button class="login" style="text-align: center" type="submit" paceholder="Login">Register</button>
            </div>
        </div>
    </form>

</body>
</html>